.footer-wrapper {
  background-color: #1b4a7a;
  border-top: 1px solid #e0e0e0;
  position: relative;
}

.footer-wrapper svg {
  width: 100%;
  height: 100px;
}

.footer-wrapper h2 {
  font-weight: bold;
  color: #ffffff;
}
.footer-wrapper p {
  color: #ffffff;

}
.footer-wrapper h5 {
  color: #ffffff;

}